* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #f0f3f2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
}

table {
    width: 85%;
    border-collapse: collapse;
}

th, td {
    border: 0.5px solid black;
}

.column1{
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    align-self: center;
    width: 6rem;
    height: 6rem;
    border-radius: 5rem;
}

.add {
    display: flex;
    justify-content: center;
    background: rgb(1, 27, 1);
    color: white;
    width: max-content;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    margin: 1rem;
    padding: 10px;
}


